---
import Image from "astro/components/Image.astro";
import Button from "../Button.astro";
---

<article>
    <div class="alt">
        <div class="class"></div>















    </div>






</article>