---
import { Image } from 'astro:assets';
import scoll_pil from '../../assets/images/scoll_pil.webp'
import hero3 from '../../assets/images/hero3.webp'
---

<section class="relative w-full h-screen">

    <div class="w-screen h-screen object-cover md:w-screen md:h-screen md:object-cover">
        <!-- Billedet -->
        <Image 
            src={hero3} 
            alt='billede af hvid blomst' 
            class="w-full h-full md:w-full md:h-[900px] md:object-cover" 
            style="object-position: 3 -60px;" 
        />
    </div>
    
    <!-- Tekst -->
    <div class="absolute w-screen h-screen top-52 md:top-32 pl-20 text-blue-500">
        <h1 class="py-8 pb-10 md:pr-44 md:pl-10 text-50 md:text-200 font-WindstoneSerif leading-tight md:leading-tight">Skræddersy dit abonnement</h2>
        <h2 class="pr-24 text-40 md:text-50 md:pr-48 md:relative md:left-10 md:-top-20 font-WindstoneSerif leading-tight md:leading-tight">Scroll ned for at komme i gang</h2>
    </div>

    <a href="#Vaelg">
        <!-- pil ned -->
        <div class="absolute left-1/2 top-[700px] transform -translate-x-1/2 md:top-[90%] md:-translate-y-1/2">
            <Image src={scoll_pil} alt='billede af pil med cirkel rundt om' class="transition-transform duration-700 ease-in-out hover:scale-125">
        </div>
    </a>
    </div>
</section>
