---
import { Image } from 'astro:assets';
import Button from "../Button.astro";
import classiclight from '../../assets/images/classiclight.webp';
---

<section>
   <div class="txt pl-14 md:pl-28">
    <h2 class="text-blue-500 font-WindstoneSerif text-40 pb-14">Du er næsten i mål!</h2>
    <p class="font-LivvicRegular text-darkgreyblue-500 text-18 pb-14 pr-20 ">Her kan du se en oversigt over din valg. Du har mulighed for at redigere din valg, hvis du pludseligt skifter mening.</p>
   </div>

   <!-- indkøbskurv + betalingskurv -->
<div class="alt md:px-16">
    <!-- indkøbskurv -->
    <div class="bg-greyblue-500 text-white mx-5 rounded-40 pl-10 pt-16 pb-20 md:mr-60">
        <h2 class="text-40 pb-10 font-WindstoneSerif">Din indkøbskurv</h2>
        <!-- indhold i kurv -->
            <div class="gridkurv grid grid-cols-2 space-x-10 md:grid md:grid-cols-3 md:space-x-0">
                <div class="indhold text-18 font-LivvicRegular">
                    <p class="font-[700] pb-6">Abonnement</p>
                    <p class="pb-3">Forudbetalt abonnement</p>
                    <p class="pb-3">Classic</p>
                    <p class="pb-3">Light</p>
                    <p class="pb-3">3 gange</p>
                    <p class="pb-3">Hver uge</p>
                    <p class="pb-3">Ingen kort</p>
                    <p class="font-[700] pt-14 underline">Rediger valg</p>
                </div>
                <!-- antal -->
                <div class="md:pl-52">
                    <p class="font-[700] pb-6">Antal</p>
                    <p>1</p>
                </div>
                <!-- pris - skal rykkes mere mod venstre på mobil -->
                <div class="pl-0 pt-10 md:pt-0 md:pl-32">
                      <p class="font-[700] text-18">Pris:</p>
                      <p class="pt-3">1.084,-</p>
                </div>
            </div>
    </div>
    <!-- købsoversigt -->
    <div class="pt-20 pb-20">
        <div class="bg-greyblue-500 text-white mx-5 rounded-40 pl-10 pt-16 pb-12 space-y-16 ">
            <h2 class="text-40 font-WindstoneSerif">Købsoversigt</h2>
            <div class="grid grid-cols-2 text-18">
                <p class="font-LivvicRegular font-[700]">Subtotal</p>
                <p>1.084,-</p>
            </div>
            <div class="grid grid-cols-2 text-18 md:pt-32">
                <p class="font-LivvicRegular font-[700]">Total</p>
                <p>1.084,-</p>
                <p class="grid col-start-2 pt-3">(inkluderer 216,8,- moms)</p>
            </div>
            <div class="pl-16 md:">
                <a href="">
                    <div class="pt-4">
                        <div class="w-96 text-center md:w-[350px]">
                            <Button 
                                textMobile="Gå til betaling"
                                textDesktop="Gå til betaling"
                                link=""
                                backgroundColor="#ffffff"
                                textColor="#00054E"
                                size="small md:large"
                            />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>















<!-- blomster img -->


</div>

<!-- blomster img -->
 








</section>