---
import { Image } from 'astro:assets';
import Button from "../Button.astro";
import classiclight from '../../assets/images/classiclight.webp';
---

<section>
   <div class="class">
    <h2 class="">Du er næsten i mål!</h2>
    <p class="">Her kan du se en oversigt over din valg. Du har mulighed for at redigere din valg, hvis du pludseligt skifter mening.</p>
   </div>








</section>