<section class="py-20 md:px-32">
    <h2 class="text-center md:text-left text-40 md:text-50 font-WindstoneSerif text-blue-500 mb-8">Følg med på vores instagram</h2>
    <p class="text-center md:text-left  text-darkgreyblue-500 font-LivvicRegular text-18 md:text-18">Her poster vi ofte om vores buketter, vigtige tips, nyeste blomster, samarbejder og projekter m.m.</p>

    

</section>