---
// import Button from '../components/Button.astro';

---

<section class="bg-rosa-500 md:pt-20 md:pb-20 flex justify-center flex-col md:gap-0 pt-20 pb-20 font-WindstoneSerif">
    <h2 class="text-blue-500 text-center md:text-left text-50 font-WindstoneSerif md:ml-48">Vores blomstertyper</h2>

    <div class="flex flex-col justify-center md:flex-row md:gap-28 md:px-48">
        <div class="w-96 mx-auto md:m-0">
            <h3 class="text-md text-center text-blue-500 sm:text-lg md:text-xl md:text-left font-WindstoneSerif mt-sm md:mt-m">
                Danske blomster
            </h3>
            <p class="text-darkgreyblue-500 text-center md:text-left sm:text-sm md:text-base mt-sm md:mt-m font-LivvicRegular">
                Ved at vælge dansk og lokalt minimerer vi transporten fra jord til bord. Vi prioriterer, at blomsterne dyrkes på friland uden brug af kunstgødning og sprøjtemidler...
            </p>
            <br><br>
            <button
                type="submit"
                class="bg-greyblue-500 text-white text-center md:text-left text-20 px-10 font-LivvicBold py-2 rounded-20 hover:bg-denimblue-500 transition shadow-sm mt-sm md:mt-m"
            >
                Læs mere
            </button>
        </div>

        <div class="w-96 mx-auto md:m-0">
            <h3 class="text-md text-center text-blue-500 sm:text-lg md:text-xl md:text-left font-WindstoneSerif mt-sm md:mt-m">
                Friske overskudsblomster
            </h3>
            <p class="text-center text-darkgreyblue-500 md:text-left sm:text-sm md:text-base mt-sm md:mt-m font-LivvicRegular">
                For at undgå unødigt blomsterspild har vi eksklusive aftaler med blomster-transportører, som forhandler blomster til fysiske blomsterbutikker....
            </p>
            <br><br>
            <button
                type="submit"
                class="bg-greyblue-500 text-white text-center md:text-left text-20 px-10 font-LivvicBold py-2 rounded-20 hover:bg-denimblue-500 transition shadow-sm mt-sm md:mt-m"
            >
                Læs mere
            </button>
        </div>

        <div class="w-96 mx-auto md:m-0">
            <h3 class="text-md text-center text-blue-500 sm:text-lg md:text-xl md:text-left font-WindstoneSerif mt-sm md:mt-m">
                Certificerede blomster
            </h3>
            <p class="text-center text-darkgreyblue-500 md:text-left sm:text-sm md:text-base mt-sm md:mt-m font-LivvicRegular">
                Vi supplerer vores udvalg med blomster fra miljøcertificerede gartnerier, som bliver tjekket for deres brug af kunstgødning, sprøjtemidler, affaldssortering ...
            </p>
            <br><br>
            <button
                type="submit"
                class="bg-greyblue-500 text-white text-center md:text-left text-20 px-10 font-LivvicBold py-2 rounded-20 hover:bg-denimblue-500 transition shadow-sm mt-sm md:mt-m"
            >
                Læs mere
            </button>
        </div>
    </div>
</section>
