<section class="bg-rosa-500 px-5 md:px-20 py-5 md:py-20">

    <h2 class="text-40 md:text-50 font-WindstoneSerif text-blue-500 mb-sm">Se vores flotte anmeldelser - Vi er fremragende på Trustpilot </h2>
    
    <div class=" flex flex-row gap-20">
    
    <div class="bg-greyblue-500 text-white w-80 py-12 px-10 rounded-lg text-center">
    <p class="font-bold mb-6">Nemt og overskueligt</p>
    <p class="italic mb-10">Jeg havde brug for at sende en lille buket blomster med levering på en arbejdsplads inden for et 4 timers vindue dagen efter min bestilling. Flowering kundeservice var ut..</p>
    <p>Sus Hansen</p>
    </div>
    
    <div class="bg-greyblue-500 text-white w-80 py-12 px-10 rounded-lg text-center">
        <p class="font-bold mb-6">Bæredygtige blomster!</p>
        <p class="italic mb-10">“Nemt at bruge siden til bestilling af blomster- og super godt med den bæredygtige profil - og bare rigtig fine blomster”</p>
        <p>Nana Bork</p>
        </div>
        
    
    <div class="bg-greyblue-500 text-white w-80 py-12 px-10 rounded-lg text-center">
            <p class="font-bold mb-6">Nemt at bestille</p>
            <p class="italic mb-10">“Nemt at bestille. Bliver godt informeret. Og selv indpakningen er bæredygtig! Man forærer blomster med  god samvittighed”</p>
            <p>Søren Nielsen </p>
            </div>
    
    
    <div class="bg-greyblue-500 text-white w-80 py-12 px-10 rounded-lg text-center">
                <p class="font-bold mb-6">Super flotte blomster og fedt koncept</p>
                <p class="italic mb-10">“Super flotte blomster og. fedt koncept! Jeg bestilte to  buketter til mine medarbejdere, og levering gik smooth, og jeg fik til og med billede af leveringen. Jeg er..</p>
                <p>Christina Ris</p>
                </div>
    
    </div>
    
    <div class="bg-greyblue-500 text-white w-80 py-12 px-10 rounded-lg text-center">
        <p class="font-bold mb-6">Nemt og overskueligt</p>
        <p class="italic mb-10">Jeg havde brug for at sende en lille buket blomster med levering på en arbejdsplads inden for et 4 timers vindue dagen efter min bestilling. Flowering kundeservice var ut..</p>
        <p>Sus Hansen</p>
        </div>
    
    </div>
    
    </section>