---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
---
<script src="https://cdn.tailwindcss.com"></script>

<section class="pt-10 pl-5 md:grid md:grid-cols-2 md:px-20 md:pl-16 md:pt-28 md:pb-14 gap-2 bg-rosa-500">
    <!-- tekst -->
      <div class="px-8 pl-16 pb-16 text-darkgreyblue-500">
          <h2 class="pb-6 pt-5 text-40 md:text-50 font-WindstoneSerif">Vil du blomstre med os?</h2>
          <p class="pr-8 pt-5 text-20 font-LivvicRegular">Få det bedste fra Flowering direkte i din indbakke. Modtag inspiration, tips til blomsterpleje, eksklusive tilbud og nyheder om vores bæredygtige rejse.</p>
          <div class="md:pt-12 pt-10 text-left md:text-left">
              <p>knap</p>
          </div>
      </div>
  
      <!-- img // ret billedernes højde i mobil-->
      <div class="w-full h-auto pl-16 pr-16 pb-10 md:w-[600px] md:h-[570px] md:pt-[35px] md:relative md:left-5">
        <!-- <Image src={datavisimg} alt='datavisualisering med blomst og fod' class="rounded-[40px] w-full h-full object-cover md:object-cover"> -->
      </div>

  </section>


  