---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import Nyhedsbrev1 from '../assets/images/nyhedsbrev1.png'
import Nyhedsbrev2 from '../assets/images/nyhedsbrev2.png'
---
<script src="https://cdn.tailwindcss.com"></script>

<section class="bg-rosa-500 md:grid md:grid-cols-3 md:gap-0 pt-10 pb-20 px-5 md:px-20 md:pt-20 md:pb-20">
    <!-- Tekst og formular til højre -->
    <div class="flex flex-col justify-center bg-rosa-500 p-10 max-w-3xl mx-auto">
      <!-- Overskrift -->
      <h2 class="text-blue-500 text-50 font-WindstoneSerif mb-sm md:leading-tight">
        Vil du blomstre med os?
      </h2>
  
      <!-- Brødtekst -->
      <p class="text-darkgreyblue-500 font-LivvicRegular text-20 mb-sm">
        Få det bedste fra Flowering direkte i din indbakke. Modtag inspiration, tips til blomsterpleje, eksklusive tilbud og nyheder om vores bæredygtige rejse.
      </p>
  
      <!-- Formular -->
      <form class="flex flex-col gap-sm">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Navn"
          class="rounded-20 border-1 border-greyblue-500 p-2 focus:ring-1 focus:ring-greyblue-600 focus:outline-none"
        />
  
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          class="rounded-20 border-1 border-greyblue-500 p-2 focus:ring-1 focus:ring-greyblue-600 focus:outline-none"
        />
  
           <!-- CTA Knappen -->
           <div class="text-center mt-12 text-nowrap">
            <Button 
            textMobile="Tilmeld dig vores nyhedsbrev"
            textDesktop="Tilmeld dig vores nyhedsbrev"
            link="/baeredygtighed" 
            backgroundColor="#2B3D5A" 
            textColor="#ffffff" 
            size="small md:large"
            additionalClasses="hover:bg-[#6D7D96] mx-auto max-w-[450px]"
            />
        </div>
      </form>
    </div>   

    <!-- Billeder til venstre -->
    <div class="w-full flex flex-col md:flex-row gap-4 justify-between">
        <div class=" md:w-full">
        <Image src={Nyhedsbrev1} alt='billede af en holdt buket' class="rounded-40 md:mt-2 ml-0 w-[48%] h-[60%] md:w-[96%] md:h-[90%] object-cover md:object-cover">
    </div></div>
    <div class="w-full flex flex-row md:flex-col gap-4">
        <div class=" md:w-full">
        <Image src={Nyhedsbrev2} alt='billede af pige med to buketter' class="md:mt-36 rounded-40 w-[50%] h-[50%] md:w-[96%] md:h-[70%] object-cover md:object-cover">
    </div></div>
</section>


  