---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import Nyhedsbrev1 from '../assets/images/nyhedsbrev1.png'
import Nyhedsbrev2 from '../assets/images/nyhedsbrev2.png'
---
<script src="https://cdn.tailwindcss.com"></script>

<section class="bg-rosa-500 md:grid md:grid-cols-3 md:gap-10 pt-10 pb-14 px-5 md:px-20">
    <!-- Billeder til venstre -->
    <div class="w-full flex flex-col gap-4">
      <Image src={Nyhedsbrev1} alt='billede af en holdt buket' class="rounded-40 w-full h-full object-cover md:object-cover">
    </div>
    <div class="w-full flex flex-col gap-4">
      <Image src={Nyhedsbrev2} alt='billede af pige med to buketter' class="rounded-40 w-full h-full object-cover md:object-cover">
    </div>
  
    <!-- Tekst og formular til højre -->
    <div class="flex flex-col justify-center bg-rosa-500 p-10">
      <!-- Overskrift -->
      <h2 class="text-blue-500 text-50 font-WindstoneSerif mb-sm">
        Vil du blomstre med os?
      </h2>
  
      <!-- Brødtekst -->
      <p class="text-darkgreyblue-500 font-LivvicRegular text-20 mb-sm">
        Få det bedste fra Flowering direkte i din indbakke. Modtag inspiration, tips til blomsterpleje, eksklusive tilbud og nyheder om vores bæredygtige rejse.
      </p>
  
      <!-- Formular -->
      <form class="flex flex-col gap-sm">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Navn"
          class="rounded-20 border-1 border-greyblue-500 p-2 focus:ring-1 focus:ring-greyblue-600 focus:outline-none"
        />
  
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          class="rounded-20 border-1 border-greyblue-500 p-2 focus:ring-1 focus:ring-greyblue-600 focus:outline-none"
        />
  
        <!-- Knap -->
        <button
          type="submit"
          class="bg-denimblue-500 text-white text-20 font-LivvicBold py-2 rounded-20 hover:bg-blue-400 transition"
        >
          Tilmeld dig vores nyhedsbrev
        </button>
      </form>
    </div>
  </section>
  