---
import { Image } from 'astro:assets';
import galleri9 from '../assets/images/galleri9.png'
---

<section class="">
    <div class="class">
    <div class="class">
        <Image src={galleri9} alt='illustration af en hvid blomst' class="">
    </div>















    </div>
</section>