---
import { Image } from 'astro:assets';
import hero4 from '../../assets/images/hero4.webp'
import scoll_pil from '../../assets/images/scoll_pil.webp'
---



<section class="relative w-full h-screen ">

    <div class="alt4">
        <div class="w-screen h-screen object-cover md:w-screen md:h-screen md:object-cover">
            <!-- Billedet -->
            <Image src={hero4} alt='billede af hvid blomst' class="w-full h-full md:w-full md:h-[800px] md:object-cover">
            </div>


    <!-- Tekst -->
    <div class="absolute w-screen h-screen top-36 pl-20  text-blue-500">
        <h1 class="py-8 pb-10 md:pr-44 text-50 md:text-200 font-WindstoneSerif">Vores Historie</h2>
        <h2 class="pr-24 text-40 md:text-50 md:pr-48 md:relative md:left-10 md:-top-10 font-WindstoneSerif">Blomsterfrøet, der blev til Flowering, blev sået ud fra en dyb kærlighed til blomster og naturens skønhed.</h2>
    </div>

    <!-- a er pil der skal føre ned til om os afsnit -->
    <a href="#afsnit1">
         <!-- pil -->
     <div class="absolute left-72 top-[650px] md:top-[-120px] md:relative md:left-[667px] md:pt-14 md:pb-32">
        <Image src={scoll_pil} alt='billede af pil med cirkel rundt om' class="transition-transform duration-700 ease-in-out hover:scale-125">
        </div>
    </a>

    
    
    </div>
</section>

    <!-- Billedet
    <div class="relative w-screen h-screen md:relative md:w-screen md:h-[750px]">
        <img src="/src/assets/images/hero4.webp" class="w-full h-full md:object-cover" alt="Billede af hvid blomst">
    </div>
    -->

     <!-- <Image src={galleri9} alt='illustration af en hvid blomst' class=""> -->
