---
import { Image } from 'astro:assets';
import hero4 from '../assets/images/her4.webp'
---

<section class="">
    <div class="class">
    <div class="">
        <img src="/src/assets/images/hero4.webp" alt="">
        <!-- <Image src={galleri9} alt='illustration af en hvid blomst' class=""> -->
    </div>















    </div>
</section>