---
import { Image } from 'astro:assets';
import hero4img from '../assets/images/hero4img.webp'
---

<section>
    <div class="class">
        <Image src={hero4img} alt='billede af hvid blomst' class=""></Image>
    </div>





</section>